<% page_heading(t("about_us.head_title")) %>
<div id="main">
  <div class="close-btn">
    <%= link_to "", root_path, class:"close" %>
  </div>
  <div id="about">
    <h2 class="major"><%= t("about_us.title") %></h2>
    <h3>Promuovere lo sviluppo dei bambini e sostenerli nelle loro scoperte</h3>
    <p>Grazie al progetto PAT – Imparo con i genitori vi offriamo la possibilità di essere sostenuti nel percorso di educazione di vostro figlio.</p>
    <p>I genitori influenzano in maniera importante lo sviluppo e l’apprendimento del proprio bambino. Con l’aiuto del progetto PAT – Imparo con i genitori vi viene offerta l’opportunità di ricevere informazioni e il sostegno necessari per svolgere al meglio il vostro compito.</p>
    <h3>Chi può partecipare</h3>
    <p>Donne incinte e genitori il cui figlio non abbia ancora compiuto gli 8 mesi.</p>
    <p>La partecipazione al progetto avviene su base volontaria ed è gratuita. È possibile terminare anticipatamente il progetto.</p>
    <h3>Come ci si può annunciare</h3>
    <ul>
      <li>presso la sua infermiera consulente materno-pediatrica</li>
      <li>Compilazione e invio di certificati</li>
      <li>presso la sua levatrice</li>
      <li>presso il suo pediatra</li>
      <li>direttamente presso l’Associazione Progetto Genitori</li>
    </ul>
    <hr>
    <h3><%= t("about_us.more_information") %> </h3>
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Associazione Progetto Genitori</h6>
        <div>
          <p class="card-text">via Soldini 25</p>
          <p class="card-text">6830 Chiasso</p>
        </div>
        <hr class="sm">
        <div>
          <a href="tel:0041793753791"> <i class="fas fa-phone-alt"></i> +41 79 375 37 91<a/>
          <a href="mailto:info@associazioneprogettogenitori.ch"><i class="fas fa-envelope"></i> info@associazioneprogettogenitori.com</a>
          <a href="https://www.associazioneprogettogenitori.ch"><i class="fas fa-link"></i> www.associazioneprogettogenitori.com </a>
        </div>
      </div>
    </div>
  </div>
</div>
