<h1>copied from screening!</h1>

 <div id="contact-medio">
   <h2 class="major">Rischio medio-alto</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ullam voluptatibus, corrupti neque nihil? Aspernatur ad cumque culpa deserunt velit provident, facere corporis iste odio delectus molestias, porro cupiditate minus!</p>
   <div class="card">
     <p>Progetto PAT</p>
     <p>Via Cita</p>
     <p>6904 Lugano</p>
     <a href="tel:0041919731827">+41 91 973 18 27<a/>
     <a href="mailto:pat@example.ch">pat@sample.ch</a>
     <a href="https://www.pat.ch">www.pat.ch</a>
   </div>
   <hr>
   <div class="card">
     <p>Servizio Medico psicologico</p>
     <p>Via Calcio</p>
     <p>6904 Mendrisio</p>
     <a href="tel:0041919731827">+41 91 973 18 27<a/>
     <a href="mailto:servizio-medico-psicologico@example.ch">servizio-medico-psicologico@example.ch</a>
     <a href="www.smp.ch">www.smp.ch</a>
   </div>
   <hr>
   <div class="card">
     <p>SEPS</p>
     <p>Via Brentani 11</p>
     <p>6904 Lugano</p>
     <a href="tel:0041919731827">+41 91 973 18 27<a/>
     <a href="mailto:seps@example.ch">seps@example.ch</a>
     <a href="www.SEPS.ch">www.seps.ch</a>
   </div>
   <div>
     <a href="./contacts.html">
       <button class="btn">Altri contatti</button>
     </a>
   </div>
 </div>

 <div id="contact-alto">
   <h2 class="major">Rischio alto</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ullam voluptatibus, corrupti neque nihil? Aspernatur ad cumque culpa deserunt velit provident, facere corporis iste odio delectus molestias, porro cupiditate minus!</p>
   <div class="card">
     <p>UAIP</p>
     <p>Via Cita</p>
     <p>6904 Lugano</p>
     <a href="tel:0041919731827">+41 91 973 18 27<a/>
     <a href="mailto:pat@example.ch">pat@sample.ch</a>
     <a href="https://www.pat.ch">www.pat.ch</a>
   </div>
   <hr>
   <div class="card">
     <p>ARP</p>
     <p>Via Calcio</p>
     <p>6904 Mendrisio</p>
     <a href="tel:0041919731827">+41 91 973 18 27<a/>
     <a href="mailto:servizio-medico-psicologico@example.ch">servizio-medico-psicologico@example.ch</a>
     <a href="www.smp.ch">www.smp.ch</a>
   </div>
   <hr>
   <div class="card">
     <p>SAE</p>
     <p>Via Brentani 11</p>
     <p>6904 Lugano</p>
     <a href="tel:0041919731827">+41 91 973 18 27<a/>
     <a href="mailto:seps@example.ch">seps@example.ch</a>
     <a href="www.SEPS.ch">www.seps.ch</a>
   </div>
   <div class="card">
     <p>Progetto PAT</p>
     <p>Via Cita</p>
     <p>6904 Lugano</p>
     <a href="tel:0041919731827">+41 91 973 18 27<a/>
     <a href="mailto:pat@example.ch">pat@sample.ch</a>
     <a href="https://www.pat.ch">www.pat.ch</a>
   </div>
   <hr>
   <div class="card">
     <p>Servizio Medico psicologico</p>
     <p>Via Calcio</p>
     <p>6904 Mendrisio</p>
     <a href="tel:0041919731827">+41 91 973 18 27<a/>
     <a href="mailto:servizio-medico-psicologico@example.ch">servizio-medico-psicologico@example.ch</a>
     <a href="www.smp.ch">www.smp.ch</a>
   </div>
   <hr>
   <div class="card">
     <p>SEPS</p>
     <p>Via Brentani 11</p>
     <p>6904 Lugano</p>
     <a href="tel:0041919731827">+41 91 973 18 27<a/>
     <a href="mailto:seps@example.ch">seps@example.ch</a>
     <a href="www.SEPS.ch">www.seps.ch</a>
   </div>
   <div>
     <a href="./contacts.html">
       <button class="btn">Altri contatti</button>
     </a>
   </div>
 </div>

</div>
