<div id="menu">
  <%= render 'partials/quicklinks' %>
  <%= render 'partials/logo' %>
  <div class="content">
    <div class="inner">
      <h1 class="major">PAT imparo con i genitori</h1>
      <h2>Screening per identificare le famiglie a rischio</h2>
      <p></p>
    </div>
  </div>
  <div id="controls">
    <div class="control-link">
      <%= link_to "Questionario", question_1_path %>
    </div>
    <div class="control-link">
      <%= link_to "Chi siamo", about_path %>
    </div>
  </div>
</div>
