<div class="card">
  <div class="card-body">
    <div>
      <p>Esistono numerosi incontri per futurigenitori, genitori e bambini e preasili su tutto il territorio del Ticino.</p>
      <p>Potete trovare informazioni nei comuni, all’associazione Progetto Genitori (vedi EDUCAZIONE), nei consultori Genitori e Bambino (vedi CONSULTORI) oppure sulla pagina internet:</p>
    </div>
    <hr class="sm">
    <div>
      <a href="https://www.associazioneprogettogenitori.com" target="_blank" ><i class="fas fa-link"></i>https://www.associazioneprogettogenitori.com</a>
    </div>
    <hr class="sm">
    <p>Sulla pagina internet dell’associazione "nascerebene" <%= link_to "(vedi attorno alla nascita)", address_category_path(@nascita_id), class:"inline" %> trovate info per incontri durante la gravidanza e nei primi mesi dopo la nascita.</p>
  </div>
</div>
