<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Levatrici</h6>
    <div>
      <ul>
        <li>Le levatrici possono accompagnare i genitori assieme al loro neonato già in gravidanza e nelle prime settimane di vita.</li>
        <li>Lavorano sul territorio, e visitano le famiglie al domicilio.</li>
        <li>Le prestazioni sono coperte della cassa malati.</li>
      </ul>
      <p>Sulla pagina internet potete trovare la levatrice della vostra zona:</p>
    </div>
    <hr class="sm">
      <a href="http://levatrici-ti.ch/" target="_blank" ><i class="fas fa-link"></i>http://levatrici-ti.ch/</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Nascere Bene - Associazione</h6>
    <div>
      <ul>
        <li>L’obiettivo prinicipale di questa associazione è di fornire ai futuri genitori e al pubblico in generale, informazioni che permettano loro di scegliere consapevolmente come e dove desiderano fare nascere i loro bambini e in che modo possono rimanere protagonisti del loro parto , dell’accoglienza e della cura che vogliono offrire alla loro creatura.</li>
      </ul>
      <p>Sulla pagina internet si trovano anche informazioni sugli incontri durante la gravidanza, durante l’allattamento e sulla casa della nascita a Lugano.</p>
    </div>
    <hr class="sm">
      <a href="https://www.nascerebene.ch/" target="_blank" ><i class="fas fa-link"></i>https://www.nascerebene.ch/</a>
    </div>
  </div>
</div>
