<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Ginecologici</h6>
    <div>
      <ul>
        <li>I ginecologici sono i medici che accompagnano le madri durante la gravidanza, sono presenti alla nascita e fanno i controlli della madre dopo la nascita.</li>
        <li>Tramite il sito si possono trovare tutti ginecologici attivi in Ticino.</li>
        <li>Le prestazioni sono coperte della cassa malati.</li>
      </ul>
    </div>
    <hr class="sm">
      <a href="https://www.omct.ch/omct/medici/Membri-OMCT.html" target="_blank" ><i class="fas fa-link"></i>https://www.omct.ch/omct/medici/Membri-OMCT.html</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Pediatri</h6>
    <div>
      <ul>
        <li>I pediatri sono i medici specialisti per l’infanzia e l’adolescenza.</li>
        <li>Trovate il vostro pediatra tramite il sito dei pediatri in Ticino.</li>
        <li>Le prestazioni sono coperte della cassa malati.</li>
      </ul>
    </div>
    <hr class="sm">
      <a href="https://www.pediatriaticino.ch/" target="_blank" ><i class="fas fa-link"></i>https://www.pediatriaticino.ch/</a>
    </div>
  </div>
</div>
