<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Progetto genitori e bambino</h6>
    <div>
      <p>L’Associazione Progetto Genitori del Mendrisiotto e Basso Ceresio propone incontri sotto forma di Permanenze Educative Mobili (PEM), Atelier di Motivazione e Incontri a Tema, con i quali intende contribuire ad attivare nei genitori di bambini tra 0 e 4 anni un processo di ricerca e di autoeducazione. Ciò permette di rafforzare le competenze parentali e di promuovere quindi un contesto familiare favorevole allo sviluppo dei bambini.</p>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">Via Soldini 25</p>
      <p class="card-text">6830 Chiasso</p>
      <a href="tel:+41 79 866 29 55"><i class="fas fa-phone-alt"></i> +41 79 866 29 55</a>
      <a href="mailto:info@associazioneprogettogenitori.com"><i class="fas fa-envelope"></i> info@associazioneprogettogenitori.com</a>
      <a href="https://www.associazioneprogettogenitori.com" target="_blank" ><i class="fas fa-link"></i>https://www.associazioneprogettogenitori.com</a>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">Incontri PEM vengono proposti sul resto del Cantone dei Consultori Genitori e Bambino sul territorio <%= link_to "(vedi CONSULTORI)", address_category_path(@consultori_id), class:"inline" %>.</p>
    </div>
  </div>
</div>
