<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Consultorio genitori e bambino</h6>
    <div>
      <ul>
        <li>Le famiglie con bambini da 0 a 4 anni possono rivolgersi al Consultorio Genitori e Bambino per ottenere informazioni riguardo l’allattamento, l’alimentazione, la cura del neonato e del bambino, lo sviluppo fisico e psicomotorio, l’educazione, e tante altre tematiche relative ai primi anni di vita, così come relativamente ai luoghi d’incontro della loro regione.</li>
        <li>Possono contattare il Consultorio telefonicamente o via mail.</li>
        <li>Le sue consulenti accoglieranno i genitori/nonni con i bambini negli ambulatori presenti sul territorio oppure li visiteranno a domicilio.</li>
        <li>Le consultazioni sono gratuite, in quanto i costi sono assunti dai comuni e dal cantone.</li>
      </ul>
      <p>Le sedi si trovano presso i Servizi di Assistenza e Cura a Domicilio (SACD) delle diverse regioni:</p>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">Bellinzonese e Regione Tre Valli</p>
      <a href="tel:+41 91 821 50 30"><i class="fas fa-phone-alt"></i> +41 91 821 50 30</a>
      <a href="mailto:icmp@abad.ch"><i class="fas fa-envelope"></i> icmp@abad.ch</a>
      <a href="https://www.abad.ch/consulenza-genitori-e-bambini" target="_blank" ><i class="fas fa-link"></i>https://www.abad.ch/consulenza-genitori-e-bambini</a>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">Locarnese</p>
      <a href="tel:+41 91 756 22 74"><i class="fas fa-phone-alt"></i> +41 91 756 22 74</a>
      <a href="mailto:icmp@alvad.ch"><i class="fas fa-envelope"></i> icmp@alvad.ch</a>
      <a href="https://www.alvad.ch/Genitori-e-Bambino/Pw3CU" target="_blank" ><i class="fas fa-link"></i>https://www.alvad.ch/Genitori-e-Bambino/Pw3CU</a>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">Luganese</p>
      <a href="tel:+41 91 973 18 27"><i class="fas fa-phone-alt"></i> +41 91 973 18 27</a>
      <a href="mailto:icmplugano@scudo.ch"><i class="fas fa-envelope"></i> icmplugano@scudo.ch</a>
      <a href="https://www.scudo.ch/Area-Pediatrica/P5i2P" target="_blank" ><i class="fas fa-link"></i>https://www.scudo.ch/Area-Pediatrica/P5i2P</a>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">Malcantone e Vedeggio</p>
      <a href="tel:+41 91 610 16 55"><i class="fas fa-phone-alt"></i> +41 91 610 16 55</a>
      <a href="mailto:icmp.maggio@sacd-ti.ch"><i class="fas fa-envelope"></i> icmp.maggio@sacd-ti.ch</a>
      <a href="https://www.sacd-maggio.ch/Consultorio-Genitori-e-Bambino/Pi2aV" target="_blank" ><i class="fas fa-link"></i>https://www.sacd-maggio.ch/Consultorio-Genitori-e-Bambino/Pi2aV</a>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">Mendrisiotto e Basso Ceresio</p>
      <a href="tel:+41 91 640 30 68"><i class="fas fa-phone-alt"></i> +41 91 640 30 68</a>
      <a href="mailto:equipe.icmp@acdmendrisotto.ch"><i class="fas fa-envelope"></i> equipe.icmp@acdmendrisotto.ch</a>
      <a href="https://www.acdmendrisiotto.ch/spazio-genitore-bambino" target="_blank" ><i class="fas fa-link"></i>https://www.acdmendrisiotto.ch/spazio-genitore-bambino</a>
    </div>
  </div>
</div>
