<div id="wrapper">
  <header id="header">
    <a href="../home.html">
      <img class="logo" src="./assets/logo.png" alt="logo PAT">
    </a>
    <div class="content">
      <div class="inner">
        <h1>Contatti</h1>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="#consultations">Consultorio</a></li>
        <li><a href="#meetings">Incontri di Gruppo</a></li>
        <li><a href="#midfwives">Levatrici</a></li>
        <li><a href="#paediatricians">Pediatri</a></li>
        <li><a href="#projects">Progetti</a></li>
      </ul>
    </nav>
  </header>

 <div id="main">
    <article id="consultations">
      <h2 class="major">Consultorio Genitori e Bambino</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ullam voluptatibus, corrupti neque nihil? Aspernatur ad cumque culpa deserunt velit provident, facere corporis iste odio delectus molestias, porro cupiditate minus!</p>
      <div class="card">
        <p>SCUDO - Consultorio genitore e bambino</p>
        <p>Via Brentani 11</p>
        <p>6904 Lugano</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:scudoicmplugano@scudo.ch">scudoicmplugano@scudo.ch</a>
        <a href="https://www.scudo.ch">www.scudo.ch</a>
      </div>
      <hr>
      <div class="card">
        <p>SCUDO - Consultorio genitore e bambino</p>
        <p>Via Brentani 11</p>
        <p>6904 Lugano</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:scudoicmplugano@scudo.ch">scudoicmplugano@scudo.ch</a>
        <a href="www.scudo.ch">www.scudo.ch</a>
      </div>
      <hr>
      <div class="card">
        <p>SCUDO - Consultorio genitore e bambino</p>
        <p>Via Brentani 11</p>
        <p>6904 Lugano</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:scudoicmplugano@scudo.ch">scudoicmplugano@scudo.ch</a>
        <a href="www.scudo.ch">www.scudo.ch</a>
      </div>
    </article>
  </div>
</div>
