<div id="wrapper">
  <div id="header">
    <a href="index.html">

      <img class="logo" src="./assets/logo.png" alt="logo PAT">
    </a>
    <div class="content">
      <div class="inner">
        <h1 class="major">PAT imparo con i genitori</h1>
        <h2>Screening per identificare le famiglie a rischio</h2>
        <p></p>
      </div>
    </div>
    <nav>
      <ul>
        <li><% link_to "Chi siamo", "/" %>

          <a href="#about">Chi siamo</a></li>
        <li><a href="./views/question_1.html">Questionario</a></li>
      </ul>
    </nav>
  </div>

 <div id="main">
    <article id="about">
      <h2 class="major">Chi siamo - PAT imparo con i genitori</h2>
      <h3>Promuovere lo sviluppo dei bambini e sostenerli nelle loro scoperte</h3>
      <p>Grazie al progetto PAT – Imparo con i genitori vi offriamo la possibilità di essere sostenuti nel percorso di educazione di vostro figlio.</p>
      <p>I genitori influenzano in maniera importante lo sviluppo e l’apprendimento del proprio bambino. Con l’aiuto del progetto PAT – Imparo con i genitori vi viene offerta l’opportunità di ricevere informazioni e il sostegno necessari per svolgere al meglio il vostro compito.</p>
      <h3>Chi può partecipare</h3>
      <p>Donne incinte e genitori il cui figlio non abbia ancora compiuto gli 8 mesi.</p>
      <p>La partecipazione al progetto avviene su base volontaria ed è gratuita. È possibile terminare anticipatamente il progetto.</p>
      <h3>Come ci si può annunciare</h3>
      <ul>
        <li>presso la sua infermiera consulente materno-pediatrica</li>
        <li>Compilazione e invio di certificati</li>
        <li>presso la sua levatrice</li>
        <li>presso il suo pediatra</li>
        <li>direttamente presso l’Associazione Progetto Genitori</li>
      </ul>
      <hr>
      <h3>Maggiori informazioni</h3>
      <div class="card">
        <p>Associazione Progetto Genitori</p>
        <p>via Soldini 25</p>
        <p>6830 Chiasso</p>
        <a href="tel:0041793753791">+41 79 375 37 91<a/>
        <a href="mailto:info@associazioneprogettogenitori.ch">info@associazioneprogettogenitori.com</a>
        <a href="https://www.associazioneprogettogenitori.ch">www.associazioneprogettogenitori.com </a>
      </div>
    </article>
  </div>
</div>
