<div id="wrapper">
  <div id="header">
    <a href="/home.html">
      <img class="logo" src="./assets/logo.png" alt="logo PAT">
    </a>
    <div class="content">
      <div class="inner">
        <h1>Quanto si sente sicuro/a della sua valutazione?</h1>
      </div>
    </div>
      <nav>
        <ul class="rating">
          <li><a class="selection" data-value="1">Molto insicura</a></li>
          <li><a class="selection" data-value="2">Insicura</a></li>
          <li><a class="selection" data-value="3">Poco sicuro</a></li>
          <li><a class="selection" data-value="4">Sicuro</a></li>
          <li><a class="selection" data-value="5">Molto sicuro</a></li>
        </ul>
      </nav>
  </div>

  <div id="main">
     <article id="screening">
      <h2 class="major">Screening</h2>
      <h3>Fattor di stress per il bambino/a e la sua famiglia</h3>
      <div class="card">
        <h4>A. Gravidanza e nascita</h4>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Gravidanza a rischio , assistita o con problemi</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Gravidanza non desiderata/ non programmata</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Parto con problemi ( prematuro, prolungato, TC di urgenza, ventosa , forcipe,.. )</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Separazione neonato dalla mamma dopo la nascita</label>
        </div>
      </div>

      <div class="card">
        <h4>B. Fattori di stress personale</h4>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Stato di trascuratezza</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Esperienze di violenza/ maltrattamento</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Problemi di salute: fisica o psichica, handicap, episodi di depressione o altro ( cecità , sordomuto, .. )</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Lutto recente e/o complicato</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Genitori < 20 anni alla nascita oppure > 40 alla nascita del primo figlio</label>
        </div>
      </div>

      <div class="card">
        <h4>C. Fattori di stress famigliari</h4>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Famiglia monoparentale</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Forti conflitti nella coppia , separazione</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Assenza del padre, per lavoro, permesso o altro, / poca presenza come coppia (solo presenti come genitori)</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Differenza tra fratelli meno di 18 mesi oppure gemelli</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Fratelli più grandi che impegnano tanto ( carattere mo
          lto esigente e difficile da gestire, malattia, autismo, handicap,..)</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Difficoltà di organizzarsi ( si dimentica più volte appuntamenti, fatica a mantenere ritmi, ordine,.. )</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Famiglia, nonni, zii lontani, non presenti oppure in conflitto</label>
        </div>
      </div>

      <div class="card">
        <h4>D. Fattori di stress sociale</h4>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Poca integrazione sociale, pochi contatti al di fuorì della famiglia, pochi contatti con famiglie con bambini della stessa età</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Poco sostegno da fuorì, aiuto dei parenti o vicini</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Si esprime poco in italiano o non si esprime proprio</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Ambiente dissociale , violenza, droga, prostituzione, criminalità</label>
        </div>
      </div>

      <div class="card">
        <h4>E. Fattori di stress materiale</h4>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Condizione di abitabilità molto ristretto, quante persone vivono in quante stanze?</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Coabitazione con genitori o suoceri</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Formazione scolastica e professionale: nessuna formazione dopo obbligo, o nemmeno finito l’obbligo</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Disoccupazione di uno o entrambi i genitori</label>
        </div>
        <div class="select">
          <input type="checkbox" name="negative" value="" id=""><label for=""> Situazione finanziaria precaria , aiuti sociali</label>
        </div>
      </div>
      <hr>
      <h3>Fattori protettivi</h3>
      <div class="card">
        <div class="select">
          <input type="checkbox" name="positive" value="" id=""><label for=""> Importanti aiuti nel contesto sociale</label>
        </div>
        <div class="select">
          <input type="checkbox" name="positive" value="" id=""><label for=""> Persone al di fuorì della famiglia molto interessati al bambino</label>
        </div>
        <div class="select">
          <input type="checkbox" name="positive" value="" id=""><label for=""> Clima familiare molto positivo</label>
        </div>
      </div>
      <div>
        <button class="btn" id="btn-continue">Continua</button>
      </div>
     </article>

    <article id="contact-medio">
      <h2 class="major">Rischio medio-alto</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ullam voluptatibus, corrupti neque nihil? Aspernatur ad cumque culpa deserunt velit provident, facere corporis iste odio delectus molestias, porro cupiditate minus!</p>
      <div class="card">
        <p>Progetto PAT</p>
        <p>Via Cita</p>
        <p>6904 Lugano</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:pat@example.ch">pat@sample.ch</a>
        <a href="https://www.pat.ch">www.pat.ch</a>
      </div>
      <hr>
      <div class="card">
        <p>Servizio Medico psicologico</p>
        <p>Via Calcio</p>
        <p>6904 Mendrisio</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:servizio-medico-psicologico@example.ch">servizio-medico-psicologico@example.ch</a>
        <a href="www.smp.ch">www.smp.ch</a>
      </div>
      <hr>
      <div class="card">
        <p>SEPS</p>
        <p>Via Brentani 11</p>
        <p>6904 Lugano</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:seps@example.ch">seps@example.ch</a>
        <a href="www.SEPS.ch">www.seps.ch</a>
      </div>
      <div>
        <a href="./contacts.html">
          <button class="btn">Altri contatti</button>
        </a>
      </div>
    </article>

    <article id="contact-alto">
      <h2 class="major">Rischio alto</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ullam voluptatibus, corrupti neque nihil? Aspernatur ad cumque culpa deserunt velit provident, facere corporis iste odio delectus molestias, porro cupiditate minus!</p>
      <div class="card">
        <p>UAIP</p>
        <p>Via Cita</p>
        <p>6904 Lugano</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:pat@example.ch">pat@sample.ch</a>
        <a href="https://www.pat.ch">www.pat.ch</a>
      </div>
      <hr>
      <div class="card">
        <p>ARP</p>
        <p>Via Calcio</p>
        <p>6904 Mendrisio</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:servizio-medico-psicologico@example.ch">servizio-medico-psicologico@example.ch</a>
        <a href="www.smp.ch">www.smp.ch</a>
      </div>
      <hr>
      <div class="card">
        <p>SAE</p>
        <p>Via Brentani 11</p>
        <p>6904 Lugano</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:seps@example.ch">seps@example.ch</a>
        <a href="www.SEPS.ch">www.seps.ch</a>
      </div>
      <div class="card">
        <p>Progetto PAT</p>
        <p>Via Cita</p>
        <p>6904 Lugano</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:pat@example.ch">pat@sample.ch</a>
        <a href="https://www.pat.ch">www.pat.ch</a>
      </div>
      <hr>
      <div class="card">
        <p>Servizio Medico psicologico</p>
        <p>Via Calcio</p>
        <p>6904 Mendrisio</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:servizio-medico-psicologico@example.ch">servizio-medico-psicologico@example.ch</a>
        <a href="www.smp.ch">www.smp.ch</a>
      </div>
      <hr>
      <div class="card">
        <p>SEPS</p>
        <p>Via Brentani 11</p>
        <p>6904 Lugano</p>
        <a href="tel:0041919731827">+41 91 973 18 27<a/>
        <a href="mailto:seps@example.ch">seps@example.ch</a>
        <a href="www.SEPS.ch">www.seps.ch</a>
      </div>
      <div>
        <a href="./contacts.html">
          <button class="btn">Altri contatti</button>
        </a>
      </div>
    </article>

   </div>
</div>

<script>
  let valueA, valueB, checkedBoxes, positiveCheckedBoxes;

  document.querySelectorAll('.selection').forEach(item => {
    item.addEventListener('click', e => {
      e.preventDefault;
      valueA = new URLSearchParams(window.location.search).get('a');
      valueB = item.getAttribute('data-value');
      determinSignal(valueA, valueB);
    })
  })

  function determinSignal(valueA, valueB) {
    if (valueA < 3 && valueB >= 4) {
      window.location.href = './contacts.html';
    } else if (valueA < 3 && valueB < 4) {
      console.log("Gelb");
      window.location.href = '#screening';
    } else if (valueA == 3 && valueB < 4) {
      console.log("Orange");
      window.location.href = '#screening';
    } else if (valueA >= 3 && valueB >= 1) {
      console.log("Rot");
      window.location.href = '#screening';
    } else {
      console.log("missing Value");
      window.location.href = './contacts.html';
    }
  }

  document.getElementById("btn-continue").addEventListener("click", e => {
    console.log("bla")
    e.preventDefault;
    checkedBoxes = document.querySelectorAll('input[name="negative"]:checked').length;
    positiveCheckedBoxes = document.querySelectorAll('input[name="positive"]:checked').length;

    evaluation = checkedBoxes - positiveCheckedBoxes

    if (evaluation < 3) {
      console.log("< 3");
      window.location.href = './contacts.html';
    } else if (evaluation <= 5) {
      console.log("<= 5");
      window.location.href = '#contact-medio';
    } else if (evaluation > 5) {
      console.log("> 5");
      window.location.href = '#contact-alto';
    } else {
      console.log("missing Value");
      window.location.href = './contacts.html';
    }
  })

</script>

