<div id="wrapper">
  <div id="header">
    <a href="/home.html">
      <img class="logo" src="./assets/logo.png" alt="logo PAT">
    </a>
    <div class="content">
      <div class="inner">
        <h1>Quanto valuta la necessità della famiglia di ricevere sostegno?</h1>
      </div>
    </div>
      <nav>
        <ul class="rating-danger">
          <li><a href="./question_2.html?a=1">Molto basso</a></li>
          <li><a href="./question_2.html?a=2">Basso</a></li>
          <li><a href="./question_2.html?a=3">Piuttosto alto</a></li>
          <li><a href="./question_2.html?a=4">alto</a></li>
          <li><a href="./question_2.html?a=5">Molto alto</a></li>
        </ul>
      </nav>
  </div>
</div>
