<% page_heading("Contacts") %>

<%= render 'layouts/quicklinks' %>

<div id="menu">
  <%= render 'partials/logo' %>
  <div class="content">
    <div class="inner">
      <h1>Contatti</h1>
    </div>
  </div>
  <div id="controls">
    <% @address_categories.each do |category| %>
      <div class="control-link">
        <%= link_to category.name, address_category_path(category_id: category.id) %>
      </div>
    <% end %>
  </div>


  <h2>Medium Risk</h2>
  <h2>High Risk</h2>

</div>
