<% page_heading(t("addresses.medium_risk_title")) %>

<div id="main">
  <div class="close-btn">
    <%= link_to "", :back, class:"close" %>
  </div>
  <div id="addresses">
    <h2 class="major"><%= t("addresses.medium_risk") %></h2>
    <p>Secondo lo screening, questa famiglia può usufruire come tutte le famiglie dei sostegni della prevenzione primaria, ma è auspicabile ampliare la presa a carico con altri servizi di sostegno e aiuto.
    </p>
    <p>L’attivazione del progetto PAT, prevede una visita domiciliare per conoscere la famiglia e presentare il progetto. Dopo di che, se la famiglia è interessata, si svolgeranno almeno un paio di visite di ammissione cosicché la famiglia possa capire di cosa si tratta. Insieme si valuterà e deciderà se proseguire con il progetto PAT oppure coinvolgere altri servizi.</p>
    <p>Da parte del PAT ci sarà sempre un feedback a chi ha segnalato la famiglia.</p>

    <%= render 'address_categories/medium_risk_addresses' %>

  </div>
  <%= link_to t("addresses.all_contacts"), address_categories_path, class:"btn" %>
</div>
