<% page_heading(@address_category.name) %>

 <div id="main">
    <div class="close-btn">
      <%= link_to "", address_categories_path, class:"close" %>
    </div>
    <div id="addresses">
      <h2 class="major"><%= @address_category.name %></h2>
      <%= render "address_categories/standard_partials/sort_order_#{@address_category.sort_order}" %>
    </div>
  </div>
