/*Default*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

hr {
  border: 0;
  border-bottom: solid 1px #E9EEBD;
  margin: 2.75rem 0;
  &.sm {
    width: 10%;
    margin: 1rem 0;
  }
}

ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1em;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Base */
@-ms-viewport {
  width: device-width;
}

html {
  font-size: 20px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #E9EEBD;
  line-height: 1;
}

body.preload *, body.preload *:before, body.preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Type */
@media screen and (max-width: 1680px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

body, input, select, textarea {
  color: #0066a4;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
}

a {
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  /*border-bottom: dotted 1px rgba(255, 255, 255, 0.5);*/
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

i {
  margin-right: 10px;
}

strong, b {
  color: #ffffff;
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  letter-spacing: 0.6px;
  margin: 0 0 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #0066a4;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1rem 0;
  letter-spacing: 0.2rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0.5rem;
  &.major {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.5rem;
  &.major {
    color: #b7c221;
    border-bottom: solid 1px #b7c221;
    padding-bottom: 0.5rem;
    margin: 0 0 2rem 0;
  }
}

h3, h4 {
  text-transform: uppercase;
  font-size: 1rem;
}
h4 {
  margin-top: 0px;
  margin-bottom: 0;
}

h3.risk-link {
  text-decoration: underline dotted;
  color: #b7c221;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (max-width: 980px) {
  h1.major {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  h2 {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.2rem;
  }
}

/* Wrapper */
#wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 4rem 2rem;
  z-index: 3;
}

@media screen and (max-width: 1680px) {
  #wrapper, #quicklinks {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 736px) {
  #wrapper, #quicklinks {
    padding: 2rem 1rem;
  }

}

@media screen and (max-width: 480px) {
  #wrapper, #quicklinks {
    padding: 1rem 1rem;
  }
}

/* Header */
#menu {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  max-width: 100%;
  text-align: center;
}

#menu > * {
  -moz-transition: opacity 0.325s ease-in-out;
  -webkit-transition: opacity 0.325s ease-in-out;
  -ms-transition: opacity 0.325s ease-in-out;
  transition: opacity 0.325s ease-in-out;
  position: relative;
  margin-top: 3.5rem;
}

#menu {
  &> #controls:before, &> .content:before {
    content: '';
    display: block;
    position: absolute;
    top: calc(-3.5rem - 1px);
    left: calc(50% - 0.5px);
    width: 1px;
    height: calc(3.5rem + 1px);
    background: #b7c221;
  }
}

#menu > :first-child {
  margin-top: 10px;
}

#menu > :first-child:before {
  display: none;
}

#menu .logo {
  height: 120px;
}

#menu .content {
  border-style: solid;
  border-color: #b7c221;
  border-top-width: 1px;
  border-bottom-width: 1px;
  max-width: 100%;
  min-width: 50%;
  &.extended {
    border-bottom-width: 0;
  }
}

#menu .content .inner {
  -moz-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
  -webkit-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
  -ms-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
  transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
  -moz-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
  padding: 3rem 2rem;
  max-height: 40rem;
  overflow: hidden;
  .subtext {
    color: #04968D;
    font-size: 1.2rem;
  }
}

#menu .content .inner > :last-child {
  margin-bottom: 0;
}

#menu .content p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  line-height: 2;
}

#menu #controls {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  border: solid 1px #b7c221;
}
#menu #controls.rating {
  border: 0;
  background: linear-gradient(to right, #E9EEBD 10%, #04968D 100%);
  .control-link {
    border: 0;
    border-left: solid 1px #E9EEBD;
    a {
      color: #5a6268;
    }
  }
}

@media screen and (max-width: 980px) {
  #menu #controls.rating {
    background: linear-gradient(to bottom, #E9EEBD 10%, #04968D 100%);
    .control-link {
      border-top: solid 1px #E9EEBD;
    }
  }
}

#menu #controls .control-link {
  padding-left: 0;
  // border-left: solid 1px #b7c221;
  min-height: 3.5rem;
  display: table;
}

#menu #controls .control-link:first-child {
  border-left: 0;
}

#menu #controls .control-link a {
  display: table-cell;
  vertical-align: middle;
  min-width: 13rem;
  max-width: 14rem;
  padding: 0 1.2rem 0 1.2rem;
  font-size: 1rem;
  border-bottom: 0;
  transition: all 0.5s ease 0s;
  color: #5a6268;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
}

#menu #controls.nav .control-link a:before {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  left: -0.5px;
  width: 1px;
  height: 40%;
  background: #b7c221;
}

#menu  #controls .control-link:first-child a:before {
  display: none;
}

@media screen and (max-width: 736px) {
  #menu  #controls .control-link a {
    font-size: 1.2rem;
  }
}

#menu  #controls .control-link a:hover {
  background-color: #b7c221;
  cursor: pointer;
  text-decoration: none;
  color: #04968D;
}

#menu  #controls .control-link a:active {
  background-color: #b7c221;
}

body.is-article-visible #menu {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -moz-filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  -ms-filter: blur(0.1rem);
  filter: blur(0.1rem);
  opacity: 0;
}

body.preload #menu {
  -moz-filter: blur(0.125rem);
  -webkit-filter: blur(0.125rem);
  -ms-filter: blur(0.125rem);
  filter: blur(0.125rem);
}

body.preload #menu > * {
  opacity: 0;
}

body.preload #menu .content .inner {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

@media screen and (max-width: 980px) {
  #menu .content p br {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  #menu > * {
    margin-top: 2rem;
  }
  #menu  {
    &> #controls:before, &> .content:before, &> *:before {
      top: calc(-2rem - 1px);
      height: calc(2rem + 1px);
    }
  }
  #menu .content .inner {
    padding: 2.5rem 1rem;
  }
  #menu .content p {
    line-height: 1.875;
  }
}

@media screen and (max-width: 980px) {
  #menu {
    padding: 1.5rem 0;
  }
  #menu .content .inner {
    padding: 2.5rem 0;
  }
  #menu  #controls {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 10rem;
    max-width: 100%;
  }
  #menu #controls .control-link {
    border-left: 0;
    border-top: solid 1px #b7c221;
  }
  #menu #controls .control-link:first-child {
    border-top: 0;
  }

  #menu #controls .control-link a {
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    min-width: 17rem;
    max-width: 17rem;
  }
}

#menu .inner h2 {
  color: #04968D;
}

#main {
  -moz-transform: translateY(0.25rem);
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
  padding: 4.5rem 2.5rem 2.5rem 2.5rem ;
  position: relative;
  width: 40rem;
  max-width: 100%;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 2rem;
  a {
    text-decoration: underline dotted;
    color: #b7c221;
  }
  .bold {
    font-weight: bold;
  }
  h2 {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
  }
  .card {
    margin-bottom: 10px;
    p {
      margin-bottom: 0;
    }
    a {
      display: block;
      text-decoration: underline dotted;
    }
    .select {
      display: flex;
      padding-bottom: 3px;
      flex-direction: row;
      margin-bottom: 10px;
    }
    input {
      margin: auto 0;
      margin-right: 10px;
    }
    input[type=checkbox] {
      -ms-transform: scale(1.5); /* IE */
      -moz-transform: scale(1.5); /* FF */
      -webkit-transform: scale(1.5, 1.5);
      -webkit-transform: scale(1.5); /* Safari and Chrome */
      -o-transform: scale(1.5); /* Opera */
      transform: scale(1.5);
      padding: 10px;
      flex: none;
    }
    label {
      display: inline-block;
      margin-bottom: 0;
      font-size: 1.1rem;
    }
  }
  .btn {
    background-color: #b7c221;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 40px;
    margin-bottom: 15px;
    transition: all 0.5s ease 0s;
    color: #5a6268;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    &:hover {
      background-color: #E9EEBD;
      cursor: pointer;
      text-decoration: none;
      color: #b7c221;
    }
  }
}

a.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    color: initial;
}

#main .active {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#main .close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  text-indent: 4rem;
  overflow: hidden;
  opacity: 1;
  white-space: nowrap;
   &:before {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    content: '';
    display: block;
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: #b7c221;
  }
}


#main {
   .close:hover:before, .close:active:before {
    background-color: #E9EEBD;
  }
}

@media screen and (max-width: 736px) {
  #main {
    padding: 3.5rem 2rem 2rem 2rem ;
  }
  #main .close:before {
    top: 0.875rem;
    left: 0.875rem;
    width: 2.25rem;
    height: 2.25rem;
    background-size: 14px 14px;
  }
}

@media screen and (max-width: 480px) {
  #main {
    padding: 4rem 1.5rem 1.5rem 1.5rem ;
    margin-bottom: 2rem;
  }
}
#footer, #main {
  -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 1.325s ease-in-out;
  -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 1.325s ease-in-out, opacity 0.325s ease-in-out;
  -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 1.325s ease-in-out;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 1.325s ease-in-out;
}

#main #about {
  .citation {
    font-style: italic;
  }
}

#quicklinks {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 4rem 4rem;
  width: 4rem;
  height: 4rem;

  .dropdown-item {
  }
}

/* Footer */
#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  max-width: 100%;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  text-align: center;
  height: 4rem;
  color: #5a6268;
}

#footer .copyright {
  letter-spacing: 0.2rem;
  font-size: 0.6rem;
  opacity: 0.75;
  margin-bottom: 0;
  text-transform: uppercase;
}

body.preload {
  #quicklinks, #footer, #main {
    opacity: 0;
  }
}

