<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">PAT - Associazione Progetto Genitori</h6>
    <div>
      <p class="card-text">Via Soldini 25</p>
      <p class="card-text">6830 Chiasso</p>
    </div>
    <hr class="sm">
    <div>
      <a href="tel:+41 79 375 37 91"><i class="fas fa-phone-alt"></i>+41 79 375 37 91</a>
      <a href="mailto:info@pat-ti.ch"><i class="fas fa-envelope"></i>info@pat-ti.ch</a>
      <a href="https://pat-ti.ch"  target="_blank" ><i class="fas fa-link"></i>https://pat-ti.ch</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">SMP - Servizio medico-psicologico</h6>
    <div>
      <p class="card-text">6500 Bellinzona</p>
      <a href="tel:+41 91 814 31 41"><i class="fas fa-phone-alt"></i>+41 91 814 31 41</a>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">6710 Biasca</p>
      <a href="tel:+41 91 816 30 51"><i class="fas fa-phone-alt"></i>+41 91 816 30 51</a>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">6600 Locarno</p>
      <a href="tel:+41 91 816 26 11"><i class="fas fa-phone-alt"></i>+41 91 816 26 11</a>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">6962 Lugano – Viganello</p>
      <a href="tel:+41 91 815 21 51"><i class="fas fa-phone-alt"></i>+41 91 815 21 51</a>
    </div>
    <hr class="sm">
    <div>
      <p class="card-text">6850 Mendrisio</p>
      <a href="tel:+41 91 816 44 81"><i class="fas fa-phone-alt"></i>+41 91 816 44 81</a>
    </div>
    <hr class="sm">
    <div>
      <a href="https://www4.ti.ch/dss/dsp/osc/chi-siamo/servizi-medico-psicologici"  target="_blank" ><i class="fas fa-link"></i>https://www4.ti.ch/dss/dsp/osc/chi-siamo/servizi-medico-psicologici</a>
    </div>
  </div>
</div>
