<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Ticinoperbambini.ch</h6>
    <div>
      <p class="card-text"><%= t("prevention.pat_ti.primary.description_1_html") %></p>
    </div>
    <hr class="sm">
    <div>
      <a href="https://ticinoperbambini.ch/Sportello-famiglie"  target="_blank" ><i class="fas fa-link"></i>https://ticinoperbambini.ch/Sportello-famiglie</a>
    </div>
  </div>
</div>
