<div class="card">
  <div class="card-body">
    <div class="svg-pat-logo"></div>
    <h6 class="card-subtitle mb-2 text-muted">Zentrum für Soziales Mütter- und Väterberatung</h6>
    <div>
      <p class="card-text">Standort Hochdorf</p>
      <p class="card-text">6281 Hochdorf</p>
    </div>
    <hr class="sm">
    <div>
      <a href="tel:+41 914 31 41"><i class="fas fa-phone-alt"></i>+41 914 31 41</a>
      <a href="mailto:mvb-zenso@hin.ch"><i class="fas fa-envelope"></i>mvb-zenso@hin.ch</a>
      <a href="mailto:mvb@zenso.ch"><i class="fas fa-envelope"></i>mvb@zenso.ch</a>
      <a href="https://www.zenso.ch"  target="_blank" ><i class="fas fa-link"></i>https://www.zenso.ch</a>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="svg-pat-logo"></div>
    <h6 class="card-subtitle mb-2 mx-10 text-muted">Zentrum für Soziales Mütter- und Väterberatung</h6>
    <div>
      <p class="card-text">Standort Sursee</p>
      <p class="card-text">6210 Sursee</p>
    </div>
    <hr class="sm">
    <div>
      <a href="tel:+41 925 18 20"><i class="fas fa-phone-alt"></i>+41 925 18 20</a>
      <a href="mailto:mvb-zenso@hin.ch"><i class="fas fa-envelope"></i>mvb-zenso@hin.ch</a>
      <a href="mailto:mvb@zenso.ch"><i class="fas fa-envelope"></i>mvb@zenso.ch</a>
      <a href="https://www.zenso.ch"  target="_blank" ><i class="fas fa-link"></i>https://www.zenso.ch</a>
    </div>
  </div>
</div>
