<div id="menu-toggle">
  <% if @ovk_iframe %>
    <div class="btn">
        <%= link_to root_path do %>
          <i class="fas fa-home"></i>
        <% end %>
    </div>
  <% else %>
    <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bars"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to t("quicklinks.all_contacts"), address_categories_path(organization: @selected_organization), class:"dropdown-item", type:"button" %>
      <% if I18n.locale == "de" %>
        <%= link_to t("quicklinks.about_us"), about_path, class:"dropdown-item", type:"button" %>
      <div class="dropdown-divider"></div>
      <% end %>
      <%= link_to "Home", root_path, class:"dropdown-item", type:"button" %>
    </div>
  <% end %>
</div>

