<div id="menu-toggle">
  <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to t("quicklinks.all_contacts"), preventions_path(org: @selected_organization), class:"dropdown-item", type:"button" %>
    <% if @org == 'ti' && I18n.locale == :it %>
      <%= link_to t("quicklinks.about_us"), about_path, class:"dropdown-item", type:"button" %>
      <div class="dropdown-divider"></div>
    <% end %>
    <%= link_to "Home", root_path, class:"dropdown-item", type:"button" %>
  </div>
</div>

