<div id="quicklinks" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-3">
    <%= render 'layouts/language_switcher' %>
  </div>
  <div class="btn-group">
    <%= render 'layouts/menu' %>
  </div>
</div>